<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>optionsContent</key>
			<string>好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低好在这次Solo 2上有了改进，避免了偏重的低</string>
			<key>questionValue</key>
			<string>A</string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>2013年末“所得税费用”科目的余额是300万元</string>
			<key>questionValue</key>
			<string>B</string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>Intel HD Graphics 6000 图形处理器</string>
			<key>questionValue</key>
			<string>C</string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>-objectForKey: 返回与键值关联的对象 -setObject:forKey:</string>
			<key>questionValue</key>
			<string>D</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>optionsContent</key>
			<string>-objectForKey: 返回与键值关联的对象 -setObject:forKey:</string>
			<key>questionValue</key>
			<string></string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>-objectForKey: 返回与键值关联的对象 -setObject:forKey:</string>
			<key>questionValue</key>
			<string></string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>-objectForKey: 返回与键值关联的对象 -setObject:forKey:</string>
			<key>questionValue</key>
			<string></string>
		</dict>
		<dict>
			<key>optionsContent</key>
			<string>-objectForKey: 返回与键值关联的对象 -setObject:forKey:</string>
			<key>questionValue</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
